@use "../global" as *;
@use "../partials" as *;

// contact-us
body {
  overflow-x: hidden;
  @include breakpoint(mobile768) {
    overflow-x: auto;
  }
}

.contact-us {
  &-form {
    border-radius: 24px;
    border: 1px solid $neutral-50; //#F5F5F6
    background: #fff;
    padding: size(24);
    form {
      .name-email {
        gap: 16px;
      }
      .number-agent {
        // gap: 10px;
        .nice-select {
          background-color: #fafafa;
          border-radius: 12px;
          border: solid 1px #f1f1f1;
          font-size: 16px;
          height: 38px;
          line-height: 36px;
          height: 54px;
          padding-left: 18px;
          padding-right: 30px;
          width: 99%;
          .nice-select-dropdown {
            width: 100%;
          }
          .current {
            margin-top: 10px;
          }
        }
      }

      .level-country {
        .nice-select {
          background-color: #fafafa;
          border-radius: 12px;
          border: solid 1px #f1f1f1;
          font-size: 16px;
          height: 38px;
          line-height: 36px;
          height: 54px;
          padding-left: 18px;
          // margin-left: -15px;
          padding-right: 30px;
          width: 100%;
          @include breakpoint(mobile576) {
            margin-left: -15px;
          }
          .nice-select-dropdown {
            width: 100%;
          }
          .current {
            margin-top: 10px;
          }
        }
      }
      .subject {
        padding-top: size(56);
        @include breakpoint(mobile576) {
          padding-top: size(0);
        }
      }
      input,
      select,
      textarea {
        border-radius: 12px;
        border: 1px solid #f1f1f1;
        background: #fafafa;
        padding: size(16);
        width: 100%;
      }

      input,
      textarea {
        &::placeholder {
          color: $neutral-600; // #5B5B5F
          font-family: $primaryfont;
          font-size: size(16);
        }
      }
      .inner-button {
        width: 100%;
      }
    }
  }
}

// contact-details
.contact-details {
  margin-bottom: 120px;
  &-inner {
    border-radius: 24px;

    @include breakpoint(tab992) {
      background: $primary-color-50; // #edfff9
      border-top: 1px solid $neutral-100; // #e6e6e7
      border-bottom: 1px solid $neutral-100; // #e6e6e7
      border-left: 1px solid $neutral-100; // #e6e6e7
    }

    .left {
      padding: 60px;
      border-radius: 24px;
      border: 1px solid $neutral-100; // #e6e6e7
      background: $primary-color-50; // #edfff9
      @include breakpoint(tab992) {
        border: none;
        background: transparent;
      }

      h2 {
        color: $neutral-950; //#19191a
        font-family: $primaryfont;
        font-size: size(24);
        font-weight: 600;
        line-height: 34px;
      }
      p {
        color: $neutral-600; // #5b5b5f
        font-family: $primaryfont;
        font-size: size(16);
        line-height: 26px;
        margin: size(5) size(0) size(5) size(0);
        // margin-top: 16px;
        // margin-bottom: 24px;
      }
      span {
        color: $neutral-600; // #5b5b5f
        font-family: $primaryfont;
        font-size: size(16);
        line-height: 26px;
      }
      .website {
        border-bottom: 1px solid $neutral-100;
      }
    }

    .right {
      iframe {
        height: 415px;
        border-radius: 24px;
        @include breakpoint(tab992) {
          border-radius: 0px;
          border-top-right-radius: 24px;
          border-bottom-right-radius: 24px;
        }
      }
    }
  }
}
