@use "../global" as *;
@use "../partials" as *;

// asked-questions
.asked-questions {
  &-inner {
    .accordion {
      .accordion-item {
        border: none;
        .accordion-button {
          color: $neutral-900; //#3c3c3d
          text-align: center;
          font-family: $primaryfont;
          font-size: size(18);
          font-weight: 500;
          line-height: size(30);
          border-radius: 10px;
          border: 1px solid $neutral-100; // #e6e6e7
          background: $neutral-50; //#f5f5f6
          padding: size(15) size(20);
        }
        .accordion-body {
          color: $neutral-700;
          font-family: $primaryfont;
          font-size: size(16);
          border: 1px solid $neutral-100; // #e6e6e7
          border-radius: 10px;
        }
      }
    }
  }
}
