@use "../global" as *;
@use "../partials" as *;


.heading-text {
  color: $footerbg; //#12141D;
  font-family: $primaryfont;
  font-size: size(25);
  font-weight: 700;
  line-height: size(46);

  @include breakpoint(mobile414) {
    font-size: size(25);
  }
  @include breakpoint(mobile480) {
    font-size: size(25);
  }
  @include breakpoint(mobile480) {
    font-size: size(25);
  }
  @include breakpoint(mobile576) {
    font-size: size(25);
  }
  @include breakpoint(mobile768) {
    font-size: size(30);
  }
  @include breakpoint(tab992) {
    font-size: size(36);
  }

  @include breakpoint(desktop1400) {
    color: $black-950;
  }
}
// Affiliated Partners START
.affiliated-partners {
  margin: size(120) size(0);
  .heading-text {
    margin-bottom: size(24);
  }
  .innar-content {
    border-radius: 73px;
    background: #f7fbff;
    padding: size(38) size(48);
  }
}

// Event and University Visits START
.university-visits {
  margin: size(80) size(0);
  .heading-text {
    margin-bottom: size(60);
  }
}
