@use "../global" as *;
@use "../partials" as *;

// Hero section start
.hero-section {
  padding: size(140) size(0) size(60) size(0);
  @include breakpoint(tab992) {
    padding-bottom: 173px;
    padding-top: 100px;
  }
  &-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include breakpoint(mobile768) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    @include breakpoint(tablet991) {
      gap: size(50);
    }
    @include breakpoint(desktop1024) {
      flex-direction: row;
      gap: size(100);
    }
    @include breakpoint(desktop1200) {
      // gap: size(266);
    }

    &-text {
      // text-align: center;

      @include breakpoint(mobile768) {
        max-width: 249px;
      }
      @include breakpoint(desktop1024) {
        max-width: 449px;
      }
      .hero-button {
        display: flex;
        justify-content: center;
        @include breakpoint(mobile576) {
          display: block;
        }
      }
    }
  }

  &-headding-text {
    color: $neutral-950; //#19191a
    font-family: $primaryfont;
    text-align: center;
    font-size: size(20);
    font-weight: 700;

    @include breakpoint(mobile576) {
      text-align: left;
    }
    @include breakpoint(mobile768) {
      font-size: size(24);
    }
    @include breakpoint(tab992) {
      font-size: size(28);
    }
    @include breakpoint(desktop1024) {
      font-size: size(40);
    }
    @include breakpoint(desktop1024) {
      font-size: size(48);
      line-height: size(60); /* 125% */
    }
  }
  &-text {
    color: $neutral-800; //#444546
    font-family: $primaryfont;
    text-align: center;
    font-size: size(14);
    line-height: size(28);
    margin: size(15) size(0);

    @include breakpoint(mobile768) {
      font-size: size(15);
      text-align: justify;
    }
    @include breakpoint(tab992) {
      font-size: size(16);
      margin: size(35) size(0);
    }
    @include breakpoint(desktop1024) {
      font-size: size(18);
    }
  }
}

.heading-text {
  color: $footerbg; //#12141D;
  font-family: $primaryfont;
  font-size: size(25);
  font-weight: 700;
  line-height: size(46);

  @include breakpoint(mobile414) {
    font-size: size(25);
  }
  @include breakpoint(mobile480) {
    font-size: size(25);
  }
  @include breakpoint(mobile480) {
    font-size: size(25);
  }
  @include breakpoint(mobile576) {
    font-size: size(25);
  }
  @include breakpoint(mobile768) {
    font-size: size(30);
  }
  @include breakpoint(tab992) {
    font-size: size(36);
  }
}

// about-us section
.about-us {
  padding: 0 10px 0 10px;
  @include breakpoint(tab992) {
    max-width: 1400px;
    margin: 0 auto;
    border-radius: size(40);
    background: $primary-color-50;
    padding: 0;
  }
  .about-us-inner {
    .about-img-position {
      display: none;
      @include breakpoint(tab992) {
        display: block;
        top: -100px;
        left: 47%;
      }
    }
    @include breakpoint(tab992) {
      display: flex;
      justify-content: space-between;
      padding-left: size(30);
    }
    @include breakpoint(desktop1200) {
      padding-left: size(60);
    }

    .about-us-inner-text {
      display: flex;
      flex-direction: column;
      gap: size(75);
      border-radius: size(40);
      background: $primary-color-50;
      padding: 40px;
      margin: 0 auto;
      @include breakpoint(tab992) {
        width: 100%;
      }
      @include breakpoint(mobile768) {
        gap: size(40);
        // padding: 0;
      }
      @include breakpoint(tab992) {
        max-width: size(449);
        padding-top: size(75);
        padding-bottom: size(75);
      }

      h2.headding-text {
        color: $neutral-950; //#19191a;
        font-family: $primaryfont;
        font-size: size(42);
        font-weight: 700;
        line-height: size(48);
        margin-bottom: size(30);
        @include breakpoint(mobile768) {
          margin-bottom: size(15);
        }
      }

      p.par-text {
        color: $neutral-800; //#444546;
        font-family: $primaryfont;
        font-size: size(18);
        line-height: size(28);
      }
    }
  }

  .about-us-inner-img {
    background-image: linear-gradient(
        90deg,
        #edfff9 1.56%,
        rgba(237, 255, 249, 0.84) 7.79%,
        rgba(255, 255, 255, 0) 20.56%
      ),
      url("./../../assets/images/home/about-us.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    // max-width: 634px;
    height: 652px;
    margin: 0 auto;
    border-radius: size(40);
    @include breakpoint(tab992) {
      width: 100%;
    }
    .card-position {
      bottom: -49px;
      right: 11%;
      @include breakpoint(mobile480) {
        right: 7%;
      }
      @include breakpoint(mobile576) {
        right: 17%;
      }
      @include breakpoint(mobile768) {
        right: 30%;
      }
      @include breakpoint(tab992) {
        right: size(42);
      }
      .sirvice-card-body {
        gap: size(28);
        .sirvice-card {
          width: size(130);
          padding: size(25) size(10);
          border-radius: size(16);
          background: #fff;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
          @include breakpoint(mobile480) {
            width: size(180);
            padding: size(22) size(14);
          }
          @include breakpoint(desktop1200) {
            width: size(230);
            padding: size(32) size(28);
          }
          .inner-card {
            align-items: center;
          }
          h3 {
            color: $footerbg;
            font-family: $primaryfont;
            font-size: size(10);
            font-weight: 700;
            @include breakpoint(desktop1200) {
              font-size: size(18);
            }
          }
        }
      }
    }
  }
}

// Pick a Study Destination start
.study-destination {
  margin-top: 70px;
  position: relative;
  .lottie {

    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
  }
  @include breakpoint(mobile768) {
    margin-top: 70px;
  }
  .inner-content {
    // background-image: url(../../assets/images/home/study-destination.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    .heading-text {
      padding-top: size(20);
      color: $neutral-950; //#19191a
      font-family: $primaryfont;
      font-size: size(42);
      font-weight: 700;
      line-height: size(48);

      @include breakpoint(mobile576) {
        padding-top: size(50);
      }
      @include breakpoint(mobile768) {
        padding-top: size(80);
      }
      @include breakpoint(tab992) {
        padding-top: size(120);
      }
      @include breakpoint(desktop1024) {
        padding-top: size(150);
      }
    }
    .pra-text {
      max-width: size(695);
      margin: 0 auto;
      margin-top: size(30);
      color: $neutral-800; //#444546
      text-align: center;
      font-family: $primaryfont;
      font-size: size(18);
      line-height: size(28);
      margin-bottom: size(60);
    }

    .inner-country-card1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 31px;
      @include breakpoint(mobile768) {
        flex-wrap: nowrap;
      }
      .country-card {
        border-radius: size(42);
        background: #fff;
        padding: size(12) size(28) size(12) size(12);
        gap: size(8);
        align-items: center;
        transition: all 0.5s ease;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        h4 {
          color: #12141d;
          text-align: center;
          font-family: $primaryfont;
          font-size: size(14);
          font-weight: 700;
          line-height: size(34); /* 154.545% */
        }
      }
    }

    .inner-country-card2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 31px;
      @include breakpoint(tab992) {
        flex-wrap: nowrap;
      }
      .country-card {
        border-radius: size(42);
        background: #fff;
        padding: size(12) size(28) size(12) size(12);
        gap: size(8);
        align-items: center;
        transition: all 0.5s ease;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        h4 {
          color: #12141d;
          text-align: center;
          font-family: $primaryfont;
          font-size: size(14);
          font-weight: 700;
          line-height: size(34); /* 154.545% */
        }
      }
    }

    .inner-country-card3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 31px;
      @include breakpoint(mobile768) {
        flex-wrap: nowrap;
      }
      .country-card {
        border-radius: size(42);
        background: #fff;
        padding: size(12) size(28) size(12) size(12);
        gap: size(8);
        align-items: center;
        transition: all 0.5s ease;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        h4 {
          color: #12141d;
          text-align: center;
          font-family: $primaryfont;
          font-size: size(14);
          font-weight: 700;
          line-height: size(34); /* 154.545% */
        }
        .font-small {
          color: #12141d;
          text-align: center;
          font-family: $primaryfont;
          font-size: size(11);
          font-weight: 700;
          line-height: size(34); /* 154.545% */
          @include breakpoint(mobile576) {
            font-size: size(14);
          }
        }
      }
    }
  }
}

// student-achievement
.student-achievement {
  margin-top: 120px;
  #carouselExample {
    .carousel-control-prev,
    .carousel-control-next {
      top: 38%;
      background-color: $white;
      width: 38px;
      height: 38px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #12141d;
      @include breakpoint(mobile768) {
        width: 76px;
        height: 76px;
      }
      @include breakpoint(tab992) {
        top: 81%;
      }
      @include breakpoint(desktop1200) {
        top: 78%;
      }
      i {
        font-size: 14px;
        color: #12141d;
        @include breakpoint(mobile768) {
          font-size: 20px;
        }
      }
    }

    .carousel-control-prev {
      left: 2%;
      @include breakpoint(tab992) {
        left: 36%;
      }
      @include breakpoint(desktop1200) {
        left: 41%;
      }
    }
    .carousel-control-next {
      right: 2%;
      @include breakpoint(tab992) {
        right: 46%;
      }
      @include breakpoint(desktop1200) {
        right: 43%;
      }
      @include breakpoint(desktop1367) {
        right: 45%;
      }
    }
  }
}

// student-achievement
.student-achievement {
  .inner-content {
    display: flex;
    flex-direction: column-reverse;
    border-radius: size(54);
    align-items: flex-end;
    background: $secondary-color-50; // #E8F4FF
    @include breakpoint(tab992) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    .left {
      padding: 30px;
      @include breakpoint(tab992) {
        width: size(636);
        padding-top: size(86);
        padding-left: size(100);
        padding-bottom: size(100);
      }
      @include breakpoint(desktop1400) {
        width: size(700);
      }
      h1 {
        color: #12141d;
        font-family: $primaryfont;
        font-size: size(20);
        font-weight: 700;
        margin-bottom: size(20);
        @include breakpoint(mobile480) {
          font-size: size(28);
        }
        @include breakpoint(desktop1024) {
          margin-bottom: size(43);
          font-size: size(40);
          line-height: size(48);
        }
      }
      .achievement2 {
        top: 30px;
        left: 360px;
        @include breakpoint(mobile480) {
          top: 30px;
          left: 360px;
        }
        @include breakpoint(desktop1024) {
          top: 92px;
          left: 490px;
        }
      }
      p {
        color: #12141d;
        font-family: $primaryfont;
        font-size: 14px;
        line-height: size(40);
        @include breakpoint(desktop1400) {
          font-size: size(24);
        }
      }
      h4 {
        font-weight: 600;
        color: #12141d;
        font-family: $primaryfont;
        font-size: size(18);
        line-height: size(34);
        margin-top: size(33);
        margin-bottom: size(8);
        @include breakpoint(mobile480) {
          font-size: size(24);
        }
      }
    }
    .right {
      margin-bottom: 0px;
      margin: 53px;
      background-image: url(../../assets/images/home/achievement3.png);
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;

      background-color: $secondary-color-50;
      @include breakpoint(tab992) {
        margin-bottom: 70px;
        margin-right: 40px;
      }
      .main-img {
        @include breakpoint(tab992) {
          margin-bottom: -70px;
          margin-right: -50px;
        }
      }
      .video-play {
        bottom: 38px;
        right: 77px;
        width: 80px;
        cursor: pointer;
        @include breakpoint(mobile414) {
          bottom: 67px;
          right: 97px;
        }
        @include breakpoint(mobile480) {
          bottom: 100px;
          right: 140px;
        }
        @include breakpoint(mobile576) {
          bottom: 125px;
          right: 238px;
        }
        @include breakpoint(mobile600) {
          bottom: 56px;
          right: 168px;
          width: 126px;
        }
        @include breakpoint(mobile768) {
          bottom: 140px;
          right: 228px;
        }
        @include breakpoint(tab992) {
          bottom: 111px;
          right: 211px;
          width: 150px;
        }
        @include breakpoint(desktop1024) {
          bottom: 26px;
          right: 210px;
          width: 150px;
        }
        @include breakpoint(desktop1200) {
          right: 210px;
          width: 266px;
        }
      }
    }
  }
}

// Affiliated Partners START
.affiliated-partners {
  margin: size(120) size(0);
  .heading-text {
    margin-bottom: size(24);
  }
  .innar-content {
    border-radius: 73px;
    background: #f7fbff;
    padding: size(38) size(48);
  }
}
// Media and Events
.media-events {
  &-header {
    .left {
      @include breakpoint(mobile768) {
        max-width: 520px;
      }
      h1 {
        color: #12141d;
        font-family: $primaryfont;
        font-size: size(16);
        font-weight: 700;
        line-height: size(48);
        @include breakpoint(mobile768) {
          font-size: size(42);
        }
      }
      p {
        color: #12141d;
        font-family: $primaryfont;
        font-size: size(12);
        line-height: size(28);
        @include breakpoint(mobile768) {
          font-size: size(18);
        }
      }
    }
    .right {
      display: flex;
      gap: 20px;
      button {
        width: 38px;
        height: 38px;
        fill: #fff;
        border: 1px solid $neutral-100;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include breakpoint(mobile768) {
          width: 76px;
          height: 76px;
        }

        .swiper-button-next,
        .swiper-button-prev {
          top: 50%;
        }
        .swiper-button-next {
          right: 10%;
          @include breakpoint(mobile768) {
            right: 30%;
          }
        }
        .swiper-button-prev {
          left: 10%;
          @include breakpoint(mobile768) {
            left: 30%;
          }
        }
        .swiper-button-next:after,
        .swiper-button-prev:after {
          font-size: 14px;
          color: #12141d;
          @include breakpoint(mobile768) {
            font-size: 20px;
          }
        }
      }
    }
  }

  .mySwiper1 {
    margin-top: 80px;
    .media1 {
      height: 341px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
      }
    }
    .media2 {
      margin-top: 50px;
    }
  }
}
// Event and University Visits START
.university-visits {
  margin: size(80) size(0);
  .heading-text {
    margin-bottom: size(60);
  }
  .right {
    button {
      .swiper-button-prev:after {
        color: white;
        font-weight: 900;
      }
    }
    button {
      .swiper-button-next:after {
        color: white;
        font-weight: 900;
      }
    }
    .prev {
      top: 160px;
      left: -3px;
      z-index: 100;
      background: rgb(16, 83, 124);
      opacity: 0.7;

      @include breakpoint(mobile414) {
        top: 200px;
        left: -3px;
      }
      @include breakpoint(mobile598) {
        top: 100px;
        left: -8px;
      }
      @include breakpoint(mobile768) {
        top: 130px;
        left: -25px;
      }
      @include breakpoint(tab992) {
        top: 130px;
      }
      @include breakpoint(desktop1024) {
        top: 100px;
      }
      @include breakpoint(desktop1200) {
        top: 130px;
      }
      @include breakpoint(desktop1367) {
        top: 180px;
      }
    }
    .next {
      top: 160px;
      right: -3px;
      z-index: 100;
      background: rgb(16, 83, 124);
      opacity: 0.7;
      @include breakpoint(mobile414) {
        top: 200px;
        right: -3px;
      }
      @include breakpoint(mobile598) {
        top: 100px;
        right: -9px;
      }
      @include breakpoint(mobile768) {
        top: 130px;
        right: -25px;
      }
      @include breakpoint(tab992) {
        top: 130px;
      }
      @include breakpoint(desktop1024) {
        top: 100px;
      }
      @include breakpoint(desktop1200) {
        top: 130px;
      }
      @include breakpoint(desktop1367) {
        top: 180px;
      }
    }
  }
}


