@use "../global" as *;
@use "../partials" as *;

// our-mission
body {
  overflow-x: hidden;
  @include breakpoint(mobile768) {
    overflow-x: auto;
  }
}
.our-mission {
  margin-top: 40px;
  @include breakpoint(mobile768) {
    margin-top: 60px;
  }
  @include breakpoint(tablet991) {
    margin-top: 90px;
  }
  @include breakpoint(desktop1024) {
    margin-top: 100px;
  }
  &-inner {
    @include breakpoint(desktop1024) {
      background: #edfff9;
      border-radius: 40px;
    }
    .left {
      background: #edfff9;
      padding: size(70) size(0) size(70) size(60);
      border-radius: 40px;
      @include breakpoint(mobile768) {
        padding: size(133) size(0) size(133) size(116);
      }
      h2 {
        color: $neutral-950; //#19191a
        font-family: $primaryfont;
        font-size: size(42);
        font-weight: 700;
        line-height: size(48);
      }
      p {
        max-width: 449px;
        color: $neutral-800; //#444546
        font-family: $primaryfont;
        line-height: size(28);
        margin: size(30) size(0);
      }
    }
    .right {
      border-radius: 40px;
      @include breakpoint(desktop1024) {
        border-radius: 0px;
      }
      background-image: linear-gradient(
          88deg,
          #edfff9 10.4%,
          rgba(237, 255, 249, 0.65) 34.87%,
          rgba(255, 255, 255, 0) 56.24%
        ),
        url("./../../assets/images/mission-vision/our-mission.png");
      background-repeat: no-repeat;
      // background-size: cover;
      background-position: right;
      width: 100%;
      height: 541px;
      flex-shrink: 0;
    }
  }
}

// our-vision
.our-vision {
  margin-top: 40px;
  @include breakpoint(mobile768) {
    margin-top: 60px;
  }
  @include breakpoint(tablet991) {
    margin-top: 90px;
  }
  @include breakpoint(desktop1024) {
    margin-top: 100px;
  }
  &-inner {
    @include breakpoint(desktop1024) {
      background: #fff4df;
      border-radius: 40px;
    }
    .left {
      background: #fff4df;
      padding: size(70) size(0) size(70) size(60);
      border-radius: 40px;
      @include breakpoint(mobile768) {
        padding: size(133) size(0) size(133) size(116);
      }
      h2 {
        color: $neutral-950; //#19191a
        font-family: $primaryfont;
        font-size: size(42);
        font-weight: 700;
        line-height: size(48);
      }
      p {
        max-width: 449px;
        color: $neutral-800; //#444546
        font-family: $primaryfont;
        line-height: size(28);
        margin: size(30) size(0);
      }
    }
    .right {
      border-radius: 40px;
      @include breakpoint(desktop1024) {
        border-radius: 0px;
      }
      background-image: linear-gradient(
          270deg,
          #fff4df 10.52%,
          rgba(255, 244, 223, 0.65) 30.79%,
          rgba(255, 244, 223, 0) 57.33%
        ),
        url("./../../assets/images/mission-vision/our-vision.png");
      background-repeat: no-repeat;
      background-position: left;
      width: 100%;
      height: 541px;
      flex-shrink: 0;
    }
  }
}

.meet-the-expert {
  .services-hero {
    background: transparent;
  }

  &-card {
    border-radius: 20px;
    background: #fff;
    box-shadow: 16px 37px 74.9px 0px rgba(185, 185, 185, 0.1);
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .img {
      img {
        width: 100%;
      }
    }
    .text {
      padding: 24px;
      h3 {
        color: $neutral-950; //#19191A);
        font-family: $primaryfont;
        font-size: size(28);
        font-weight: 600;
        line-height: size(38);
      }
      p {
        color: $neutral-500; //#6A6B70);
        font-family: $primaryfont;
        font-size: size(18);
        line-height: size(28);
      }
      h5 {
        font-weight: 500;
        color: $neutral-500; //#6A6B70
        font-family: $primaryfont;
        font-size: size(18);
        line-height: size(30);
      }
      .button {
        display: flex;
        width: 90%;
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid #0c31ff;
        transition: all 0.5s ease;
        &:hover {
          background: #0c31ff;
          color: #fff;
        }
      }
    }
  }
}

// your-guide
.your-guide {
  margin-top: 40px;
  @include breakpoint(mobile768) {
    margin-top: 60px;
  }
  @include breakpoint(tablet991) {
    margin-top: 90px;
  }
  @include breakpoint(desktop1024) {
    margin-top: 100px;
  }
  &-inner {
    @include breakpoint(desktop1024) {
      background: #edffff;
      border-radius: 40px;
    }
    .left {
      background: #edffff;
      padding: size(70) size(0) size(70) size(60);
      border-radius: 40px;
      @include breakpoint(mobile768) {
        padding: size(125) size(0) size(125) size(116);
      }
      h2 {
        color: $neutral-950; //#19191a
        font-family: $primaryfont;
        font-size: size(42);
        font-weight: 700;
        line-height: size(48);
      }
      p {
        max-width: 449px;
        color: $neutral-800; //#444546
        font-family: $primaryfont;
        line-height: size(28);
        margin: size(30) size(0);
      }
    }
    .right {
      border-radius: 40px;
      @include breakpoint(desktop1024) {
        border-radius: 0px;
      }
      background-image: linear-gradient(
          88deg,
          #edffff 10.4%,
          rgba(237, 255, 255, 0.65) 34.87%,
          rgba(255, 255, 255, 0) 56.24%
        ),
        url("./../../assets/images/mission-vision/your-guide.png");
      background-repeat: no-repeat;
      // background-size: cover;
      background-position: right;
      width: 100%;
      height: 541px;
      flex-shrink: 0;
    }
  }
}
