@use "../global" as *;
@use "../partials" as *;

// scholarships-list

.scholarships-list {
  margin-top: size(60);
  @include breakpoint(mobile768) {
    margin-top: size(100);
  }
  @include breakpoint(tab992) {
    margin-top: size(150);
  }
  &-inner {
    .inner-content {
      border-radius: 21px;
      border: 1px solid $neutral-100; // #E6E6E7
      padding: size(24);
      h2 {
        color: $neutral-950; //#19191A
        font-family: $primaryfont;
        font-size: size(18);
        font-weight: 700;
        line-height: size(28);
      }
      input {
        border-radius: 11px;
        border: 1px solid $neutral-100; //#e6e6e7
        background: #fff;
        width: 100%;
        margin-top: size(16);
        margin-bottom: size(24);
        padding: size(14);

        &::placeholder {
          color: $neutral-200; //#CFCFD2
          font-family: $primaryfont;
          font-size: size(16);
        }
      }
    }

    .left {
      .scholarships-list-hedar {
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #e6e6e7;
        display: flex;
        justify-content: space-between;

        .right {
          margin-bottom: 20px;
          @include breakpoint(mobile768) {
            margin-bottom: 0;
          }
          &-heding {
            color: $neutral-950; // #19191A
            font-family: $primaryfont;
            font-size: size(18);
            text-align: left;
            font-weight: 600;
            line-height: size(34);
            @include breakpoint(mobile768) {
              font-size: size(24);
            }
          }
          &-pra {
            margin-top: 8px;
            color: $neutral-500; // #6A6B70
            font-family: $primaryfont;
            font-size: size(13);
            text-align: left;
            font-weight: 600;
            line-height: size(20);
          }
        }

        .left {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: size(20);
          @include breakpoint(mobile768) {
            gap: size(40);
          }
          .view {
            display: flex;
            gap: size(12);
            align-items: center;
          }
        }
      }

      .all-scholarships {
        .singal-card {
          border-radius: 20px;
          border: 1px solid $neutral-100; //#e6e6e7
          padding: size(27) size(40) size(38) size(26);
          margin-top: 24px;
          transition: all .5s ease;
          cursor: pointer;
          &:hover{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
          figure {
            img {
              max-width: 138px;
            }
          }
          .inner-text {
            max-width: 654px;

            h3 {
              color: $black;
              font-family: $primaryfont;
              font-size: size(24);
              font-weight: 600;
              line-height: size(34);
              text-align: center;
              @include breakpoint(mobile768) {
                text-align: left;
              }
            }
            h5 {
              color: $neutral-400; //#85868b
              font-family: $primaryfont;
              font-size: size(24);
              font-style: normal;
              font-weight: 500;
              line-height: size(34);
              margin: size(14) size(0) size(24) size(0);
              text-align: center;
              @include breakpoint(mobile768) {
                text-align: left;
              }
            }
            p {
              color: $neutral-400; //#85868b
              font-family: $primaryfont;
              font-size: size(16);
              line-height: size(26);
              text-align: center;
              @include breakpoint(mobile768) {
                text-align: left;
              }
            }
            span {
              color: $neutral-500; // #6A6B70
              font-family: $primaryfont;
              font-size: size(16);
              font-weight: 500;
              line-height: size(24);
            }
          }
        }
      }

      .page-btn {
        display: flex;
        gap: 8px;
        justify-content: flex-start;
        margin-top: 50px;
        @include breakpoint(mobile768) {
          gap: 24px;
        }
        .button {
          padding: 5px 9px;
          border-radius: 9.606px;
          border: 1.601px solid #f3f3f3;
          color: $neutral-400; //#85868B
          font-family: $primaryfont;
          font-size: 16px;
          font-weight: 500;
          transition: all 0.5s ease;
          @include breakpoint(mobile768) {
            padding: 10px 18px;
            font-size: 24px;
          }
          &:hover {
            border: 1.601px solid $primary-color-900;
            background: $primary-color-900;
            color: $white;
          }
        }
      }
    }
  }
}
