@use "../../global" as *;
@use "../../partials" as *;

.header {
  background: linear-gradient(360deg, #fff 0%, #e8f4ff 100%);
  &-inner-nav {
    @include border-single(bottom, solid, 1, $changeborder);
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: size(24) size(0);
    // z-index: 99999999999999;

    .destop {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: size(24);
      list-style: none;
      li {
        .dropdown-toggle::after {
          display: none;
          border-top: none;
          border-right: none;
          border-left: none;
        }
        .dropdown-menu {
          min-width: size(224);
          padding: 0;
          margin: 0;
          overflow: hidden;
          background-color: $white;
          border: none;
          border-radius: size(10);
          :nth-of-type(2) {
            border-top: 1px solid #f3f3f3;
            border-bottom: 1px solid #f3f3f3;
          }
          li {
            a {
              padding: size(15) size(24);
            }
          }
        }
        a {
          color: $neutral-900; //#3C3C3D
          font-family: $primaryfont;
          font-size: size(11);
          font-weight: 700;
          line-height: size(28);
          @include breakpoint(desktop1200) {
            font-size: size(16);
          }
          @include breakpoint(desktop1367) {
            font-size: size(18);
          }
          transition: all 0.5s ease;
          &:hover {
            background: linear-gradient(104deg, #0c31ff 0%, #009666 86.58%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }

  @include breakpoint(tab992) {
    .mobail-menu {
      display: none;
    }
    .destop {
      display: block;
    }
  }
  .mobail-menu {
    background-color: $primary-color-800;
    color: $white;
  }

  &-top {
    @include breakpoint(tab992) {
      padding: size(26) size(54);
    }
  }

  .offcanvas.offcanvas-start {
    border-right: 0;
    width: 70%;
  }

  .offcanvas-body {
    ul {
      list-style: none;
      padding-left: 0;
      .mobail-list {
        margin-top: size(20);
        .accordion-button {
          color: $neutral-900; //#3C3C3D
          font-family: $primaryfont;
          font-size: size(12);
          font-weight: 700;
          line-height: size(28);
        }
        .accordion-button:not(.collapsed) {
          color: $white;
          background-color: $primary-color-600;
          padding: 10px;
        }
        .accordion-body {
          ul {
            padding-left: 0;
          }
        }
        a {
          color: $neutral-900; //#3C3C3D
          font-family: $primaryfont;
          font-size: size(12);
          font-weight: 700;
          line-height: size(28);

          transition: all 0.5s ease;
          &:hover {
            color: $primary-color-600;
          }
        }
        .text {
          font-size: size(10);
        }
      }
    }
  }
}
