@use "../../global" as *;
@use "../../partials" as *;

.header {
  background: linear-gradient(180deg, #fff 0%, #e8f4ff 100%);
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: size(24) size(0);

    .destop {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: size(24);
      list-style: none;
      li {
        a {
          color: $neutral-900; //#3C3C3D
          font-family: $primaryfont;
          font-size: size(16);
          font-weight: 700;
          line-height: size(28);
        }
      }
    }
  }
  @include border-single(bottom, solid, 1, $changeborder);

  @include breakpoint(tab992) {
    .mobail-menu {
      display: none;
    }
    .destop {
      display: block;
    }
  }
  .mobail-menu {
    background-color: $primary-color-800;
    color: $white;
  }

  &-top {
    @include breakpoint(tab992) {
      padding: size(26) size(54);
    }
  }

  .offcanvas.offcanvas-start {
    border-right: 0;
    width: 70%;
  }

  .offcanvas-body {
    ul {
      list-style: none;
      .mobail-list {
        margin-top: size(20);
        a {
          color: $neutral-900; //#3C3C3D
          font-family: $primaryfont;
          font-size: size(12);
          font-weight: 700;
          line-height: size(28);
        }
        .text {
          font-size: size(12);
        }
      }
    }
  }
}
